<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title>Mesa Fácil - Disciplina de MDS</title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta content="" name="keywords" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <link href="/css/plugins.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7CPlayfair+Display:500,600,700,800,900" rel="stylesheet" type="text/css" />
    <link rel="icon" href="img/logo.png" type="image/x-icon" />
    <link rel="icon" href="img/logo.jpg" type="image/png" />
		<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Assistente de pedidos de comida com pagamento online"
    />
    <meta name="author" content="UWS" />
    <title>Mesa Facil | Disciplina de MDS</title>

    <!-- Favicon -->
    <link href="img/favicon.png" rel="shortcut icon" />

    <!-- Google Fonts - Jost -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome CSS -->
    <link
      href="vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- Custom Font Icons -->
    <link href="vendor/icomoon/css/iconfont.min.css" rel="stylesheet" />

    <!-- Vendor CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendor/dmenu/css/menu.css" rel="stylesheet" />
    <link href="vendor/hamburgers/css/hamburgers.min.css" rel="stylesheet" />
    <link href="vendor/mmenu/css/mmenu.min.css" rel="stylesheet" />
    <link
      href="vendor/magnific-popup/css/magnific-popup.css"
      rel="stylesheet"
    />
    <link
      href="vendor/float-labels/css/float-labels.min.css"
      rel="stylesheet"
    />

    <!-- Main CSS -->
    <link href="../css/style.css" rel="stylesheet" />
  </head>
  <body>
      <!-- Main -->
      <main>
        <!-- Hero -->
        <div class="hero-home bg-img-2 hero-bottom-border">
          <div class="content">
            <h1 class="animated-element">Pagamento</h1>
            <p class="animated-element">
            </p>
            <a
              href="../index-01.html"
              class="btn-1 medium animated-element"
              >Voltar</a
            >
            <a href="#orderFood" class="mouse-frame nice-scroll">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
        <!-- Hero End -->

        <!-- Services -->
        <div class="services">
          <div class="container">
            <div class="main-title">
              <span><em></em></span>
              <h2 id="orderFood">Peça a comida</h2>
              <p>Escolha um dos métodos de pagamento</p>
            </div>
            <div class="row">
              <div class="col-lg-6 animated-element">
                <a href="pay-with-card-online/" class="service-link">
                  <div class="box text-center">
                    <div class="icon d-flex align-items-end">
                      <i class="icon icon-credit-card2"></i>
                    </div>
                    <h3 class="service-title">Pagar Online</h3>
                    <p>e aguarde a entrega</p>
                  </div>
                </a>
              </div>
              <div class="col-lg-6 animated-element">
                <a href="pay-with-cash-on-delivery/" class="service-link">
                  <div class="box text-center">
                    <div class="icon d-flex align-items-end">
                      <i class="icon icon-wallet"></i>
                    </div>
                    <h3 class="service-title">Pagar no Local</h3>
                    <p>quando a comida chegar até você</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Services End -->

        <div class="banner animated-element">
          <div class="container">
            <div class="content">
              <div class="mask">
                <div class="textbox">
                  <small>Pagamento Delivery</small>
                  <h2>Pagamento</h2>
                  <p>Assistente de pedidos de comida com pagamento online.</p>
                  <a href="faq.html" class="btn-1">Perguntas Frequentes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Main End -->
    </div>
    <!-- Page End -->

    <!-- Back to top button -->
    <div id="toTop"><i class="icon icon-chevron-up"></i></div>

    <!-- Vendor Javascript Files -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/easing/js/easing.min.js"></script>
    <script src="vendor/parsley/js/parsley.min.js"></script>
    <script src="vendor/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendor/price-format/js/jquery.priceformat.min.js"></script>
    <script src="vendor/theia-sticky-sidebar/js/ResizeSensor.min.js"></script>
    <script src="vendor/theia-sticky-sidebar/js/theia-sticky-sidebar.min.js"></script>
    <script src="vendor/mmenu/js/mmenu.min.js"></script>
    <script src="vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <script src="vendor/float-labels/js/float-labels.min.js"></script>
    <script src="vendor/jquery-wizard/js/jquery-ui-1.8.22.min.js"></script>
    <script src="vendor/jquery-wizard/js/jquery.wizard.js"></script>
    <script src="vendor/isotope/js/isotope.pkgd.min.js"></script>
    <script src="vendor/scrollreveal/js/scrollreveal.min.js"></script>
    <script src="vendor/lazyload/js/lazyload.min.js"></script>
    <script src="vendor/sticky-kit/js/sticky-kit.min.js"></script>
    <script src=".././js/plugins.js"></script>
    <script src=".././js/dinex.js"></script>
    <script src=".././js/script.js"></script>

    <!-- Main Javascript File -->
    <script src="js/scripts.js"></script>
  </body>
</html>
